.Gameplay-topRow {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.Gameplay-exit {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 20px;
}

.Exercise-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Exercise-box img {
  max-width: 400px;
  height: auto;
  margin: 20px;
}

.Exercise-exit {
  margin: 20px;
}

.Gameplay-next {
  background-color: var(--primary--dim);
  color: black;
  padding: 20px;
  font-size: 20px;
}

.Gameplay-finish {
  background-color: lime;
  color: white;
  padding: 20px;
  font-size: 20px;
}

.Gameplay-time {
  background-color: var(--primary--dim);
  padding: 20px;
  font-size: 40px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.Gameplay-time-five-seconds {
  background-color: var(--primary--dim);
  padding: 20px;
  font-size: 40px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  color: red;
}
