.Program-2-item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.Program-1-item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.Program-reset {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 20px;
}
