.Program-title {
  text-align: center;
  margin-right: 50px;
}

.Program-2-item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.Program-1-item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}
